data/

runs/
generated_audio/
audio_visualisations/
diagnostics/
diagnostic_analysis/
src/qvae/losses_masked.py
sanity-checks/
exploratory/
tests/

__pycache__/
*.pyc
*.pyo
*.pyd
.Python

.vscode/

*.tmp
temp/
tmp/